.venv/
ml_env/
venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.git
.github
.vscode
data/
*.onnx
*.onnx_data
*.tar.gz
src/storage/postgres_data
src/triton_repository/**/model.onnx
src/triton_repository/**/model.onnx_data
src/paraphrase_model_pytorch/
src/storage/whisper_model_cache/
src/storage/qdrant_data/
src/storage/postgres_data/

