# =====================================================================
# КОНФИГУРАЦИЯ СРЕДЫ TRITON INFERENCE SERVER (OFFLINE PRODUCTION)
# =====================================================================
# Параметры NVIDIA Triton Server
TRITON_GRPC_URL=localhost:8001
TRITON_MODEL_NAME=clip_embedder
TRITON_VLM_NAME=paligemma_vlm

# Параметры Векторной Базы Данных Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6334
QDRANT_COLLECTION=catalog

# Параметры Микросервиса Распознавания Речи Whisper
WHISPER_URL=http://localhost:8003/v1/audio/transcriptions

# Параметры Системы Мониторинга Langfuse LLMOps
LANGFUSE_HOST=http://localhost:3000

# Локальные пути внутри репозитория проекта
LOCAL_TOKENIZER_PATH=~/LLM-Training/src/clip_tokenizer

LOCAL_PALIGEMMA_TOKENIZER_PATH=~/LLM-Training/src/paligemma_tokenizer

# LOCAL_RERANKER_TOKENIZER_PATH=~/LLM-Training/src/reranker_tokenizer
# Локальные пути к новым русскоязычным токенизаторам хоста
LOCAL_TOKENIZER_PATH="/home/alexfil/LLM-Training/src/paraphrase_tokenizer"
LOCAL_RERANKER_TOKENIZER_PATH="/home/alexfil/LLM-Training/src/reranker_tokenizer"

# Конфигурация Веб-интерфейса Gradio
GRADIO_SERVER_NAME=127.0.0.1
GRADIO_SERVER_PORT=7860
#GRADIO_SHARE=False

LANGFUSE_PUBLIC_KEY="pk-lf-..."
LANGFUSE_SECRET_KEY="sk-lf-..."
LANGFUSE_HOST="http://localhost:3000"

TRITON_GRPC_URL="127.0.0.1:8001"
